$background-color: hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
$font-size: 1.8rem;
$todo-color: #c8cbe7;
@mixin dark {
  background: #171823;
  color: white;
}
body {
  @include dark;
  font-family: "Josefin Sans", sans-serif;
  margin: 0px;
}

.container {
  width: 100%;
  min-height: 100%;
  .background-image {
    background: url(/images/bg-desktop-dark.jpg) no-repeat 0px 0px;
    background-size: contain !important;
    min-height: 363px;
    margin: 0px;
    .todo {
      width: 100%;
      max-width: 543px;
      margin: auto;

      .taskpane {
        background-color: #25273d;
        opacity: 1;
        height: 51px;
        border-radius: 6px;
        margin: 62px 0px;
        display: flex;
        justify-content: center;

        & .task-text {
          padding-left: 40px;
          width: 93%;
          margin: auto;
          height: 27px;
          font-weight: 500;
          background: transparent;
          border: none;
          outline: none;
          font-size: 17px;
          color: white;
        }
      }
      .heading {
        position: relative;
        display: flex;
        align-items: baseline;
        right: 0%;
        top: 44px;
        & h1 {
          font-size: 42px;
        }
        & img {
          width: 30px;
          height: 30px;
          position: relative;
          left: 60%;

          &.img-light {
            margin: -33px;
          }
          &.img-dark {
            z-index: -2;
          }
        }
      }
      & .todo-content {
        @extend .taskpane;
        border-radius: 0px 0px 6px 6px;
        box-shadow: 0px 1px 6px 0px black;

        & .todo-manage {
          display: flex;
          flex-direction: row;
          width: 100%;
          & p {
            margin: auto;
            font-size: 15px;
            font-weight: 300;
            color: $todo-color;
          }
          & ul {
            display: flex;
            flex-direction: row;
          }
          & ul li {
            list-style: none;
            margin: 0px 11px;
          }
          & ul li a {
            text-decoration: none;
            font-size: 15px;
            font-weight: 300;

            color: $todo-color;
          }
          & a {
            color: inherit;
            text-decoration: none;
            color: $todo-color;
            margin: auto 13px;
            font-size: 15px;
            font-weight: 300;
            &:hover {
              color: #3a7cfd;
            }
          }
        }
      }
      & .todo-box {
        @extend .taskpane;
        margin-bottom: -61px;
        border-radius: 6px 6px 0px 0px;
        position: relative;
        align-items: center;   
        //    box-shadow: 4px 4px rgb(white / 25%);
        & .image-circle {
          width: 24px;
          border-radius: 50%;
          // border: 1px solid;
          height: 24px;
          position: relative;
          margin: auto;
          left: 17px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-content: center;
          background: linear-gradient(45deg, #de06bc, transparent);
          & img {
            display: block;
            width: 12px;
            margin: auto;
          }
        }

        & p {
          color: $todo-color;
          width: 100%;
          padding-left: 35px;
        }
        & a .cross,
        .cross::after {
          background: #c8cbe7;
          content: "";
          position: absolute;
          width: 33px;
          height: 2px;
        }
        .cross {
            display: none;
          top: 25px;
          transform: rotate(45deg);
          left: 88%;
        }

        .cross::after {
          transform: rotate(-90deg);
        }
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
