body {
  background: #171823;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  margin: 0px;
}

.container {
  width: 100%;
  min-height: 43rem;
}

.container .background-image {
  background: url(/images/bg-desktop-dark.jpg) no-repeat 0px 0px;
  background-size: contain !important;
  min-height: 363px;
  margin: 0px;
}

.container .background-image .todo {
  width: 100%;
  max-width: 543px;
  margin: auto;
}

.container .background-image .todo .taskpane, .container .background-image .todo .todo-content, .container .background-image .todo .todo-box {
  background-color: #25273d;
  opacity: 1;
  height: 51px;
  border-radius: 6px;
  margin: 62px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .background-image .todo .taskpane .task-text, .container .background-image .todo .todo-content .task-text, .container .background-image .todo .todo-box .task-text {
  padding-left: 40px;
  width: 93%;
  margin: auto;
  height: 27px;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  color: #c8cbe7;
}

.container .background-image .todo .heading {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  right: 0%;
  top: 44px;
}

.container .background-image .todo .heading h1 {
  font-size: 40px;
}

.container .background-image .todo .heading img {
  width: 30px;
  height: 30px;
  position: relative;
  left: 60%;
}

.container .background-image .todo .heading img.img-light {
  margin: -33px;
}

.container .background-image .todo .heading img.img-dark {
  z-index: -2;
}

.container .background-image .todo .todo-content {
  border-radius: 0px 0px 6px 6px;
  -webkit-box-shadow: 0px 1px 6px 0px black;
          box-shadow: 0px 1px 6px 0px black;
}

.container .background-image .todo .todo-content .todo-manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.container .background-image .todo .todo-content .todo-manage p {
  margin: auto;
  font-size: 15px;
  font-weight: 300;
  color: grey;
}

.container .background-image .todo .todo-content .todo-manage ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .background-image .todo .todo-content .todo-manage ul li {
  list-style: none;
  margin: 0px 11px;
}

.container .background-image .todo .todo-content .todo-manage ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  color: grey;
}

.container .background-image .todo .todo-content .todo-manage a {
  color: inherit;
  text-decoration: none;
  color: grey;
  margin: auto 13px;
  font-size: 15px;
  font-weight: 300;
}

.container .background-image .todo .todo-content .todo-manage a:hover {
  color: #3a7cfd;
}

.container .background-image .todo .todo-box {
  margin-bottom: -61px;
  border-radius: 6px 6px 0px 0px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .background-image .todo .todo-box .image-circle input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-appearance: none;
  border: 1px solid #777a92;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  left: 16px;
}

.container .background-image .todo .todo-box .image-circle input:checked {
  background: url(/images/icon-check.svg), -webkit-gradient(linear, left top, right top, from(#57ddff), to(#c058f3));
  background: url(/images/icon-check.svg), linear-gradient(to right, #57ddff, #c058f3);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.container .background-image .todo .todo-box p {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 100%;
  padding-left: 35px;
}

.container .background-image .todo .todo-box .cross,
.container .background-image .todo .todo-box .cross::after {
  background: #c8cbe7;
  content: "";
  position: absolute;
  width: 21px;
  height: 2px;
}

.container .background-image .todo .todo-box .cross {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  display: none;
  top: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 88%;
}

.container .background-image .todo .todo-box .cross::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.container .background-image .todo .instructions {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
}

.container .background-image .todo .instructions p {
  text-align: center;
  color: #777a92;
  font-size: 18px;
}

.container .background-image .todo .instructions #instructions {
  margin: 0px;
}

#todo-set {
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 7px 0px black;
          box-shadow: 0px 0px 7px 0px black;
}

.line-through {
  color: #4d5067 !important;
  text-decoration: line-through;
}

.none {
  display: none !important;
}

.hidden2 {
  background: linear-gradient(45deg, #de06bc, transparent);
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

textarea {
  background: transparent;
  margin: 0px;
  width: 255px;
  height: 26px;
  color: white;
  outline: none;
}

@media (max-width: 1020px) {
  .container .background-image {
    background: url(/images/bg-mobile-dark.jpg) no-repeat 0px 0px;
    background-size: cover !important;
  }
}

@media (max-width: 610px) {
  .container .background-image {
    padding: 12px;
  }
  .container .background-image .todo .heading img {
    left: 50%;
  }
  .container .background-image .todo .todo-box .cross {
    display: block !important;
  }
  .todo-manage a {
    margin: auto !important;
  }
  .attribution {
    font-size: 14px !important;
  }
}

@media (max-width: 393px) {
  .container .background-image .todo .heading img {
    left: 40%;
  }
  .container .background-image .todo .todo-content .todo-manage p {
    font-size: 13px;
  }
  .container .background-image .todo .todo-content .todo-manage ul li a {
    font-size: 13px;
  }
  .container .background-image .todo .todo-content .todo-manage a {
    font-size: 13px;
  }
}

@-webkit-keyframes animate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes animate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes zoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */